.about {
  max-width: 90%;
  margin: 0 auto;
}
.about-p {
  color: #5A007B;
  font-size: 1.4em;
}
.about-p:last-child {
  color: #B82BF9;
  font-style: italic; 
}

@media (min-width: 700px) {
  .about {
    max-width: 60%;
  }
} 
