.input-page {
  height: 100vh;
  background: white;
  display: grid;
  grid-template-rows: 18% 15% 65%;
  grid-template-areas:
  "a"
  "b"
  "c"
}
.logo {
  grid-area: a;
}
.instructions {
  grid-area: b;
}
.input {
  grid-area: c;
}